<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-header bg-soft-success text-dark text-center d-flex">

                <div class="col-11 text-center fs-3 text-dark">Kullanıcı Listesi</div>
                <div class="col-1 fs-3">
                    <a href="#" id="btnAdd" onclick=" $('#modalAdd').modal('show')" class="btn btn-success"><i class="uil uil-plus me-2"></i>Yeni Kayıt</a>
                    </div>

            </div>
            <div class="card-body">
                <table id="tblUsers" class="table table-bordered table-striped table-hover"></table>
            </div>
        </div>


    </div>
</div>

<div class="modal fade" id="modalAdd" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">
                   Yeni Kullanıcı Kaydı
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">

                <div class="mb3 row">
                    <input type="text" class="form-control" id="txtUsername" placeholder="Kullanıcı adı giriniz">

                </div>
                <div class="mb-3 row">
                    <input type="password"  id="txtPassword" class="form-control" placeholder="Lütfen şifre belirleyiniz">
                </div>
                <div class="mb-3 row">
                    <select class="form-select" id="ddlIsAdmin">
                        <option value="0">Hayır</option>
                        <option value="1">Evet</option>
                    </select>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Kapat
                </button>
                <button type="button" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script>
        $(document).ready(function () {
             $("#btnAdd").click(function () {
                 $("#modalAdd").modal("show");
           })
          


          var DataTable=  $("#tblUsers").DataTable({
                ajax:'/User/GetAll',
                columns:[
                    {data:'id',title:'Id'},
                    {data:'userName',title:'Kullanıcı Adı'},
                    {data:'fullName', title:'Ad Soyad'},
                    { data: 'id', title: 'İşlemler', render: function (data) {
                            return `<a onclick="deleteUser(${data},this)" class="btn uil-trash-alt fs-6 btn-danger"></a>`;
                    } }
                ]
            });
        });


        function deleteUser(userId,button) { 

            if (confirm("Silmek istediginizden emin misiniz ?")) { 
            
                $.ajax({
                    url: '/User/SoftDelete',
                    type: 'POST',
                    data: {
                        id: userId
                    },
                    success: function () {

                        let satir = $(button).parent().parent();
                        DataTable.row(satir).remove().draw();

                    }
                });
            }
            
        
        }


    </script>
}