<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-header bg-soft-success text-dark text-center d-flex">

                <div class="col-11 text-center fs-3 text-dark">Poliçe Tipleri</div>
                <div class="col-1 fs-3">
                    <a href="#" id="btnAdd" class="btn btn-success"><i class="uil uil-plus me-2"></i>Yeni Kayıt</a>
                </div>

            </div>
            <div class="card-body">
                <table id="tblPolicyTypes" class="table table-bordered table-striped table-hover"></table>
            </div>
        </div>


    </div>
</div>

<div class="modal fade" id="modalAdd" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3 row">
                    <input type="text" class="form-control" id="txtName" placeholder="Poliçe tip adını giriniz">

                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Kapat
                </button>
                <button type="button" id="btnSave" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var DataTable = "";
        $(document).ready(() => {

            DataTable = $("#tblPolicyTypes").DataTable({
                ajax: '/PolicyType/GetAll',
                columns: [
                    { data: 'id', title: 'ID' },
                    { data: 'name', title: 'Poliçe Tip Adı' },
                    {
                        data: 'id', title: 'İşlemler', render: (data) => {
                            return `<a title="Sil" onclick="deletePolicyType(${data},this)" class="btn uil-trash-alt fs-6 btn-danger"></a> <a onclick="updatePolicyType(${data},this)" title="Düzenle" class="btn uil-pen fs-6 btn-success"></a>`
                        }
                    }
                ]
            });

            //arrow function
            $("#btnAdd").click(() => {
                $("#modalAdd").modal("show");
                $("#modalTitle").text("Yeni Poliçe Tipi Ekle");

                $("#btnSave").text("Kaydet").off().click(() => {

                    $.ajax({
                        url: '/PolicyType/Add',
                        type: 'POST',
                        data: {
                            policyType: {
                                name: $("#txtName").val()
                            }
                        },
                        success: (res) => {
                            $("#modalAdd").modal("hide");
                            DataTable.row.add(res).draw();

                        }
                    });

                });

            });


        });

        function deletePolicyType(policyTypeId, button) {

            if (confirm("Emin misiniz ? ")) { 
            
                $.ajax({
                    url:'/PolicyType/SoftDelete',
                    type:'POST',
                    data: {
                        id: policyTypeId
                    },
                    success: () => {
                        let satir = $(button).parent().parent();
                        DataTable.row(satir).remove().draw();

                    }
                });
            
            }

        }

        function updatePolicyType(policyTypeId, button) {

            $.ajax({
                url:'/PolicyType/GetById',
                type:'POST',
                data: {
                    id:policyTypeId
                },
                success: (res) => {
                    $("#modalAdd").modal("show");
                    $("#modalTitle").text("Güncelle");
                    $("#txtName").val(res.name);


                    $("#btnSave").text("Güncelle").off().click(() => {

                        res.name = $("#txtName").val();


                        $.ajax({
                            url:'/PolicyType/Update',
                            type:'POST',
                            data: {
                                policyType:res
                            },
                            success:()=> {
                                let satir = $(button).parent().parent();
                                DataTable.row(satir).data(res).draw();
                                $("#modalAdd").modal("hide");
                            }
                        });
                    });


                }
            });

        }


    </script>
}